<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Work :: Catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/reset.css}" rel="stylesheet" type="text/css">
    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="items">
    <th:block th:each="item : ${catalog}">
        <div class="item">
            <div>
                <div class="header">
                    <div class="typeLink" th:text="${item.categoryName}"></div>
                    <div class="typeTxt">></div>
                    <div class="typeLink" th:text="${item.subcategoryName}"></div>
                </div>
                <div><img class="img" th:src="@{img/noImg.jpg}"></div>
                <div class="name" th:text="${item.name}"></div>
                <div class="description" th:text="${item.description}"></div>
            </div>
            <div>
                <div class="price" th:text="${item.price} + ' €'"></div>
                <div class="buyBtn">Buy</div>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>